@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap");



:root {
    --header-font-size: 2rem;
    --color-red: #D50000;
    --color-gray-500: rgba(236, 236, 236, 0.5);
    --color-gray-100: rgba(236, 236, 236, 0.1);
    --desktop-container-width: 960px;
    --default-shadow: 0px 13px 15px -6px rgba(0, 0, 0, 0.1);
    --red-shadow: 0px 13px 15px -6px #D50000;
}


* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    /* overflow-x: hidden; */

}

body {
    background-color: #FAFAFA !important;

}

section {
    padding: 4rem 0;
}


section h2 {
    text-align: center;
    font-size: 1.4rem;
}

.container {
    background-color: #FAFAFA;
    transform: translateY(-100px);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* STARTING SEARCH ELEMENT */


.search--element[data-isloaded="false"] {
    opacity: 0;
}

.search--element {
    overflow-x: hidden !important;
    opacity: 1;
    transform: translateY(-40px);
    position: relative;
    z-index: 2;
    max-width: var(--desktop-container-width);
    height: auto;
    border-radius: 0.5rem;
    box-shadow: var(--default-shadow);
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 3.5rem);
    display: grid;
    grid-template-areas: "input input" "brand year" "button button";
    gap: 0.5rem;
    padding: 1rem;
    background-color: white;
    outline: 1px solid #e0e0e0;
}

.search--element>div:not(:first-child),
input,
select {
    height: 100%;
}

.search--element .search-wrapper {
    display: grid;
    grid-area: input;
}

.search--element>*:nth-child(2) {
    grid-area: brand;
    height: 3rem;
}

.search--element>*:nth-child(3) {
    grid-area: year;
    height: 3rem;

}

.search--element>*:nth-child(4) {
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search--element button {
    width: 100%;
}

/* END SEARCH ELEMENT */


.bg-image {
    background-color: #999999;
    background-image: url("../images//car-bg.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;
    height: 420px;
    position: relative;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.bg-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.bg-text h1 {
    font-size: 1rem;
    padding: 0 0.4rem;
    text-align: left;
}

.bg-text p {
    font-size: 1.4rem;
    padding: 0 0.4rem;
    text-align: left;
}

#destaques {
    background-color: #FAFAFA;
    display: grid;
    align-items: center;
}


.card-content {
    margin: 1rem 0.5rem;
}


.card-content p {
    margin-bottom: 0.5rem;
}


.home-presentation-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 1rem;
}

.cta-container {
    margin: 2rem auto;
}


.cta-wrapper {
    margin-top: 4rem;
}

/* diferencial */

.diferencial {
    background-color: #FAFAFA;
    display: grid;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.diferencial::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 96vw;
    height: 100%;
    background-color: rgba(236, 236, 236, 0.5);
    z-index: -1;
}


.details-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 2rem;
    align-items: center;
    margin: auto;
}

.details-card__content {
    text-align: center;
}

.details-card__content>h3 {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    font-size: 1.4rem;

}

.details-card__content>i {
    color: #D50000;
}

/* end diferencial */


/* feedback */
.feedback-cards--list {
    display: grid;
    grid-template-columns: fr;
    grid-gap: 2rem;
    align-items: center;
    margin: auto;
}

.feedback-cards--list .feedback-card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: var(--default-shadow);
    padding: 2rem;
    max-height: 320px;
    height: 100%;
}

.feedback-cards--list .feedback-card h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #D50000;
}

.feedback-cards--list .feedback-card i {
    font-size: 2rem;
    color: #D50000;
}

/* end feedback */

.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    position: relative;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.default-shadow {
    box-shadow: var(--default-shadow);
    border-radius: 1rem;
    padding: 1rem;
}

.override-button {
    background-color: #D50000 !important;
    border-color: #D50000 !important;
    color: white;
    font-weight: 600;
    border-radius: 1rem;
    padding: 1rem;
    width: 240px;
    transition: all 0.2s ease-in-out;
}

.btn-primary:focus {
    background-color: rgba(213, 0, 0, 0.5) !important;
    border: none;
    color: white;
    box-shadow: 0 0 0.25rem rgba(213, 0, 0, 0.5) !important;
}


footer {
    position: relative;
    height: 300px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: white;
}

.footer-background {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    background-color: #D50000;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.footer-content {
    max-width: var(--desktop-container-width);
    margin: auto;
    z-index: 4;
    color: white;
}

.social-icon--group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.social-icon {
    color: white;
}


.wpp-wrapper {
    width: 56px;
    height: 56px;
    position: relative;
}

.wpp-wrapper img {
    position: absolute;
    width: 56px;
    height: 56px;
    ;
}


.email-buttom-wrapper {
    grid-area: email;
    margin-top: 3rem !important;
}



*[data-ishidden="true"] {
    opacity: 0;
}

.feedback[data-ishidden="false"] {
    opacity: 1;
    animation: slide-right-section 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.contact[data-ishidden="false"],
.diferencial[data-ishidden="false"] {
    opacity: 1;
    animation: slide-left-section 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.dev-reference {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.dev-reference:hover,
.dev-reference:focus,
.dev-reference:active,
.dev-reference:visited {
    text-decoration: underline;
    color: white;
    font-weight: 700;
    text-shadow: var(--default-shadow);
    font-size: 18px;
}


@media screen and (min-width: 768px) {

    .content,
    section {
        background-color: #FAFAFA;
        width: 100% !important;
        max-width: var(--desktop-container-width);
    }

    .bg-image {
        height: 600px;
    }

    .bg-text h1 {
        font-size: 2rem;
        padding: 0 4rem;
    }

    .bg-text p {
        font-size: 3rem;
        padding: 0 4rem;
    }


    /* SEARCH ELEMENT DESKTOP */
    .search--element {
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem;
        gap: 1rem;
        grid-template-areas: "input brand year button";
    }


    .search--element>div:not(:first-child),
    select {
        height: 100%;
        width: 140px;
    }

    .search--element .search-wrapper {
        display: grid;
        grid-area: input;
        width: 100%;
    }

    .search--element input {
        width: 100%;
    }

    .search--element>*:nth-child(2) {
        grid-area: brand;
        height: 3rem;
    }

    .search--element>*:nth-child(3) {
        grid-area: year;
        height: 3rem;

    }

    .content {
        background-color: #f5f5f5;
    }

    .home-presentation-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin: auto;
        width: 100%;
    }

    .home-presentation-grid>.home-card {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
    }

    .home-presentation-grid>.home-card h3 {
        color: rgba(0, 0, 0, 0.9);
        font-weight: 600;
    }

    .home-presentation-grid>.home-card p {
        color: rgba(0, 0, 0, 0.7);
    }



    .cta-container {
        width: 100%;
        margin-top: 3rem;
        text-align: center;
    }

    .cta-button {
        display: inline-block;
        width: 280px;
        padding: 1.4rem;
        text-align: center;
        border-radius: 1rem;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: var(--color-red);
        color: white;

    }

    .cta-button:hover {
        text-decoration: none;
        background-color: rgba(236, 236, 236, 0.5);
        color: red;
    }


    /* destaques content */
    section {
        width: var(--desktop-container-width);
    }

    .diferencial {
        position: relative;
        overflow: hidden;
        margin: auto;
    }

    .diferencial::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 96vw;
        height: 100%;
        background-color: rgba(236, 236, 236, 0.5);
        z-index: 1;
    }

    .details-card {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-gap: 2rem;
        align-items: center;
        /* width: var(--desktop-container-width); */
        margin: auto;
        position: relative;
        z-index: 2;
    }

    .details-card__content {
        color: rgba(0, 0, 0, 0.9);
        padding: 2rem;
        text-align: center;
    }

    .details-card__content:not(:first-child) {
        color: rgba(0, 0, 0, 0.9);
        padding: 2rem;
        text-align: center;
        border-left: 1px solid red;
    }

    .diferencial>h2 {
        text-align: center;
        font-size: 1.4rem;
        position: relative;
        z-index: 2;
    }

    .details-card__content>h3 {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.9);
        padding: 1rem;
    }

    .details-card--title {
        grid-area: title;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.9);
        padding: 2rem;
    }

    .details-card--description {
        grid-area: description;
        padding: 1rem;
        color: rgba(0, 0, 0, 0.7)
    }



    /* feedback */

    .feedback {
        position: relative;
        overflow: hidden;
        margin: auto;
    }

    .feedback-cards--list {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 2rem;
        align-items: center;
        /* width: var(--desktop-container-width); */
        margin: auto;
    }


    .feedback-cards--list .feedback-card {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: var(--default-shadow);
        padding: 2rem;
    }

    .feedback-cards--list .feedback-card h3 {
        font-size: 1.4rem;
        font-weight: 700;
        color: #D50000;
    }

    .feedback-cards--list .feedback-card i {
        font-size: 2rem;
        color: #D50000;
    }

    .contact {
        background-color: #FAFAFA;
    }



    .clip-path--item {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        background-color: red;
        width: 160px;
        height: 160px;
        grid-area: clipPath;
    }


    /* Image background */

    .image-container {
        width: 100%;
        height: 0;
        padding-bottom: 80%;
        position: relative;
    }

    .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}


.slide-in--search {
    animation: slide-in--search 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes slide-in--search {
    0% {
        transform: translate(-100%, -40px);
    }

    100% {
        transform: translate(0, -40px);
    }
}

@keyframes slide-right-section {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes slide-left-section {
    0% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}